<div class="container">
  <img
    src="assets/img/task-list-null.png"
    alt="Sua lista está vazia - imagem ilustrativa"
    loading="eager"
  />

  @if(addItem()) {
  <button class="btn btn-primary" (click)="addItem.set(false)">
    Crie uma lista de tarefas
  </button>
  } @else {
  <div>
    <label for="inputValue" class="input-label-text">
      <input
        type="text"
        id="inputValue"
        placeholder="Adicione um item"
        autofocus
      />

      <button
        class="btn btn-primary-circle"
        title="Adicionar um novo item"
      ></button>
    </label>
  </div>
  }
</div>
